{% section 'content-about-top' %}
{% section 'logo-bar-about' %}
{% section 'content-about-bottom' %}
{% comment %}
{% section 'feature-columns-about' %}
{% endcomment %}
<p><br /></p>
{% section 'about-featured-blog' %}
